<h6 class = "text-center"> Contracts Register
</h6>
<div class="form-check">
    <input type="checkbox" class="form-check-input" id="Check1" [(ngModel)]="showAllChecked" (change)="onShowAll()">
    <label class="form-check-label" for="exampleCheck1">Show All</label>
    <label> [ Total {{contractsCount}} ]</label>
</div>
<br>
<table class="table table-sm table-hover">
  <tr *ngFor="let position of positionList">
    <td>{{position.name}}</td>
    <td>{{position.position}}</td>
    <td>
      <a class="btn" (click)="onEdit(position)">
        <i class="fa fa-pencil-square-o"></i>
      </a>
      <a class="btn" (click)="onDelete(position.$key)">
        <i class="fa fa-trash-o"></i>
      </a>
    </td>
  </tr>
</table>


